@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px       Phone
600px - 900px   Tablet Portrait
900px - 1200px  Tablet Landscape
[1200 - 1800] is where our normal styles apply
1200px - 1800px Big Desktop

em ve rem birimleri media querylerde root font-size'dan etkilenmez.
Her zaman browser default font-size'a eşittir. Yani 16px. Kullanıcı
değiştirmediği sürece.
Ayrıca, rem bazı browserlarda çalışmadığı için em kullanıyoruz.

Kullanırken:
max-width değeri en küçük olanı en sona yaz.
min-width değeri en küçük olanı en başa yaz.
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
